

@media only screen and (max-width: 56.25em) {
  .cards {
    font-size: 1rem;
  }

  .items__img {
    width: 15rem;
    height: 20rem;
  }

  .newsletter__title {
    font-size: 4rem;
    color: #fff;
    letter-spacing: 4px;
  }

  .form__input {
    width: 40rem;
    height: 4rem;
  }
  
  .form__btn {
    width: 15rem;
    height: 4rem;
    font-size: 2rem;
    letter-spacing: 4px;
  }

  .footer__items:not(:last-child) {
    margin-right: 5rem;
  }
}


@media only screen and (max-width: 37.5em) {

  .header__logo {
    font-size: 3rem;
  }

  .icons__link {
    margin-right: .5rem;
  }

  .header__list {
    margin-right: 1rem;
  }

  .header__item:not(last-child) {
    margin-right: 1rem;
    padding-right: 1rem;
    font-size: 1.4rem;
  }

  .intro__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
  }

  .content__title {
    font-size: 3rem;  
  }

  .cards {
    height: 100vh;
    flex-direction: column;
  }

  .cards__item {
    margin: 1rem;
    width: 20rem;
  }

  .cards__title {
    margin-bottom: 1rem;
  }

  .cards__paragraph {
    text-align: center;
    font-size: 1.4rem;
  }

  .cards__icon {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
  }

  .gallery__photos {
    max-width: 30rem;
    margin-top: 2rem;
  }

  .newsletter__title {
    margin-bottom: 2rem;
    color: #fff;
    letter-spacing: 2px;
    font-size: 2rem;
  }

  .form__input {
    width: 20rem;
    height: 4rem;
  }
  
  .form__btn {
    width: 10rem;
    height: 4rem;
    font-size: 1.4rem;
    letter-spacing: 2px;
  }


  .products__items {
    flex-direction: column;
    margin-top: 5rem;
  }

  .products__paragraph {
    margin-top: 2rem;
    padding: 0 2rem;
  }

  .footer {
    height: 100vh;
  }

  .footer__content {
    flex-direction: column;
  }

  .footer__items {
    margin-right: 5rem;
  }
  
}

@media only screen and (max-width: 75em) {

  .items__img {
    width: 15rem;
    height: 20rem;
  }

  .footer__items:not(:last-child) {
    margin-right: 5rem;
  }
}